# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Maja\OneDrive\kea\DAT\3. semester\Programmering\Opgaver\FitnessOpgave\FEFitnessExercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
